h1,body,input,h2,p,ol,a,ul,h3,h4,h5{
    margin:0;padding:0;list-style: none;border: none;
    font-size: 12px;
}
a{text-decoration: none;}
img{border: none;}
*{box-sizing:border-box;}
.hz{width: 100%;height:auto;}
/*头部*/
.tou{
	width:100%;height: 156px;min-width: 1200px;
}
.to{
    width: 1200px;height: 156px;
    margin: 0 auto;
    padding-top: 38px;
}
.to1{
	width:auto;height: 80px;
	background-image: url(../tp/tou.png);
	background-repeat: no-repeat;
	float: left;
}
.to11,.to12{
	padding-left: 86px;font-size: 28px;color: #dfb466;
}
.to11{ padding-top: 10px;font-weight: bold;}
.to12{font-style: italic;}
.to2{
	float: right;width: 606px;height:18px;
	margin-top: 31px;text-align: justify;
}
.to2:after{
	content: "";
	display: inline-block;width: 100%;
}
#to2{
	font-size: 18px;color: #dfb466;display: inline-block;
}
#to2:hover{
	color: #f4daaf;text-decoration: underline;
}
/*banner*/
.ban{width: 100%;height:600px;background: url(../tp/ban.png) no-repeat center;}
.ban1{
	width:1200px;height: 600px;margin: 0 auto;position: relative;
}
.ban11{
	width: 44px;height: 44px;position: absolute;background: url(../tp/ban1.png);bottom: 50%;
}
.ban12{
	width: 44px;height: 44px;position: absolute;background: url(../tp/ban2.png);bottom: 50%;right: 0%;
}
/*尾部*/
.big{
  width:100%;
  height:634px;
  background: #3d3d3d;
  padding-top: 48px;
}
.kuai{
  width:1200px;
  height:526px;
  margin: 0 auto;
}
.kuai ul{
  width:240px;height: auto;display: block;float: left;
}
.kuai h1{
  font-size: 14px;color: #f0f0f0;margin-bottom:28px;
}
.kuai li{margin-top:28px;}
.kuai a{color: #b3b3b3;}
.wb{
	width: 1200px;height: 61px;margin: 0 auto;
}
.wb1{
	width: 1200px;height: 1px;background: #535353;
}
.wb2{
	width: 1200px;height: 60px; 
}
.wb2 a{
	color: #b3b3b3;border-right: 1px solid #7b7968;height: 14px;width:100px;text-align: center;
	display:block;margin-top: 23px;float: left;
}
#wb{border: none;}
#wb2{
   display: block;float: right;width: 140px;height: 26px;border: 1px solid #b3b3b3;line-height: 26px;
   margin-right: 90px;margin-top: 17px;
}
span{line-height: 60px;color:#b3b3b3;margin-left: 50px; }
/*面包虫*/
.mac{
	width: 1200px;height: 66px;padding-top: 50px;
	margin: 0 auto;
}
.mac a{
	color: #565656;font-size: 14px;
}
/*内容*/
.nr{
	width: 1200px;height:1500px;margin: 0 auto;margin-top: 30px;
}
.nr1{
	width: 300px;height: auto;float: left;
}
.nr11{
	display: block;width: 180px;height: 510px;box-shadow:0 0 5px 5px #ccc;text-align: center;
}
.nr1 h1{
	font-size: 24px;color: #e7978d;margin-top:10px;padding-top: 10px;
}
.nr1 li{margin-top:36px;}
.nr1 a:hover{
	text-decoration: underline;color: #737373;
}
.nr1 a{
	font-size: 18px;color: #000;
}
.nr12{
	display: block;width: 180px;height: 230px;box-shadow:0 0 5px 5px #ccc;text-align: center;margin-top: 40px;
}
.nr2{
	width: 800px;height: 1300px;float: right;margin-right:100px;
}
.nr2 h2{
	font-size: 36px;color: #a20000;padding-top: 60px;
}
.nr21{width: 800px;height:286px;margin-top:80px;}
.nr211{
	width: 430px;height: 286px;float: left;
}
.nr212{
	width:260px;height: 286px;float: left;font-size: 14px;padding-top: 100px;
}
.nr212 p{
	font-size: 14px;
}
.nr3{
	width: 1200px;height: 120px;margin: 0 auto;
}