@import url(respondsive.css);
ul,li,ol,dl,dd,dt,tr,td,h1,h2,h3,h4,h5,h6,input,img,div,article,span,p{
margin: 0;padding: 0;
list-style:none;
display: block;}
a{text-decoration: none;padding: 0;
margin:0; color: #000}
body{
background-color: #f2f2f2;
margin: 0;
    position: relative;
}
img{
border: none;
}
input{
border: #fff;
}
*{
box-sizing: border-box;
}
/*header*/
.title-box{
    width: 100%;
    height: 1rem;
    background-color: #29a6dc;
}
.content1{
    width: 100%;
    height:1rem;
    display: flex;
}
.content1:first-child{
    padding-left: 0.24rem;
}
.content1:last-child{
    padding-right:0.24rem;
}
.list1{
    width: 0.74rem;
    height: 100%;
    background: url("../images/1.png") no-repeat;
    background-size: contain;
    background-position: center;
}
.list2{
    width:6.02rem;
    height:0.61rem;
    background: url("../images/6.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0.19rem;
}
/*content*/
.content3{
    width: 7.02rem;
    height: 3.58rem;
    margin: 0 auto;
    background: #fff;
    border-radius: .1rem;
    margin-top: 0.21rem;
    box-shadow:.0rem .0rem  .2rem  #ccc;
    display: flex;
    flex-wrap: wrap;
}
.list3,.list3-none{
    width: 100%;
    height: 25%;
    border-bottom:.01rem dashed #000000;
}
.flex{
    display: flex;
    justify-content:space-between;
}
.icon{
    width: 1.3rem;
    height: 0.6rem;
}
.list3 img{
    height: 0.43rem;
    margin-top: 0.23rem;
    margin-left: .16rem;
}
.list3 span{
    width: 0.98rem;
    height: 0.28rem;
    font-size: .28rem;
    margin-left: 5.9rem;
    text-align: center;
    margin-top: -.3rem;
}
.list3 b{
    color: #6cc2e7;
}
.list3-none img{
    width: 1.61rem;
    height: 0.43rem;
    margin-top: 0.23rem;
    margin-left: .16rem;
}
.list3-none{
    border-bottom: none;
}
.content4{
    width: 5.64rem;
    height: .68rem;
    background: #28dd8c;
    border-radius:.34rem;
    margin: 6.62rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content4 p{
    font-size: .3rem;
     color: #fff;
}
.white,.white-tow{
    width: .06rem;
    height: .06rem;
    border-radius: 100%;
    background: #fff;
     margin-left: .34rem;
}
.white-tow{
     margin-left:0;
    margin-right: .34rem;
}
.sum{
    width:100%;
    height:12.94rem;
    position: relative;
    z-index: 1;
}
 .sum2{
     width:100%;
     height:12.94rem;
     position: absolute;
     top: 0;
     left: 0;
     background-color: #000;
     opacity:0.5;
     z-index:20;
 }
 .content5{
     width:4.78rem;
     height:5.60rem;
     position: absolute;
     top:2.81rem;
     left:1.36rem;

     z-index: 100;
     display: flex;
     flex-wrap: wrap;
 }
 .list5, .list5s{
     width:100%;
     height:14.2857143%;
     background-color: #fff;
 }
 .list6{
     width: 100%;
     height:28.5714285%;
     background-color: #fff;
     display: flex;
     flex-wrap: wrap;
 }
 .list6-box{
     width: 50%;
     height: 100%;
 }
 .box{
     width:1.95rem;
     height:.58rem;
     border-radius:.29rem;
     border:.01rem solid #29dcbc;
     margin: 0 auto;
     margin-top:.51rem;
     font-size:.12rem;
     text-align: center;
     line-height: .58rem;
     position: relative;
 }
 .box-yuan,.box-yuan-tow{
     width:.06rem;
     height: .06rem;
     border-radius: 100%;
     background-color: #29dcbc;
     position: absolute;
     top:.26rem;
     left:.29rem;
 }
.box-yuan-tow{
    left:1.66rem;
}

 .list5s{
     background-color: #29dcbc;
     border-radius: .2rem .2rem 0rem 0rem;
}
 .list5-logo img{
     width: 0.36rem;
     height: 0.36rem;
     margin-top: 0.28rem;
     margin-left: 0.55rem;
     position: relative;
 }
.list5s span{
    font-size: 0.22rem;
    position: absolute;
    left: 1.04rem;
    top: 0.27rem;
    color: #fff;

}
.list5s p{
    font-size: 0.16rem;
    position: absolute;
    left: 1.04rem;
    top: 0.47rem;
    text-transform:uppercase;
    color: #fff;
}
.list5 span{
    font-size: 0.16rem;
    padding-left: 0.32rem;
    padding-top: 0.15rem;

}
.list5 p{
    font-size: 0.16rem;
    text-transform: uppercase;
    padding-left: 0.32rem;
}
.list5{
  position: relative;
    border-bottom: .01rem dashed #000;
}
.list5-yuan{
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 100%;
    border:0.01rem solid #29dcbc;
    position: absolute;
    left:4rem;
    top: .28rem;
}