ul,li,ol,dl,dd,dt,tr,td,h1,h2,h3,h4,h5,h6,input,img,div{
	 margin: 0;padding: 0;
	 list-style:none;
     display: block;}

a{text-decoration: none;padding: 0;
margin: 0; color:#808080;}

body{ font-size: 12px;
      font-family: "宋体";
      position: relative;

     }






     /*  内容从此开始   头部*/




     .content{


      width: 100%;height: 30px;
      
      background-color: #f8f8f8;
      margin-bottom: 2px;
      line-height: 30px;
/*      color: #929292;*/
     }


.content .toubukuang{


     width: 1200px;height: 30px;
     margin: 0 auto;
     line-height: 30px;

/*     background-color: red;*/
}
.content .inner{
  width: 550px;height: 30px;
  line-height: 30px;
  
  float: right;
  font-size: 12px;

}

.content .word1{
width: 180px;height: 30px;
  float: left;
  margin-right: 5px;
/*  color: #808080;*/

/*  background-color: yellow;*/

}



.content .word2{

width: 100px;height: 30px;
float: left;
margin-right: 10px;





}

.content .a{


  color: #454545;
}


.content .word3{
width: 62px;height: 30px;
float: left;
margin-right: 14px;
/*background-color: yellow;*/



}


.content .word3 :hover{
  color: #B71C20;






}

.content .laba{

width: 18px; height: 18px;
margin-right: 14px;
background:  url(../images/logo.png)   no-repeat  0px -92px ;
float: left;
margin-top: 8px;

}


.content .weixin{
width: 18px; height: 18px;
background:  url(../images/logo.png)   no-repeat  0px -20px ;
float: left;
margin-top: 8px;
margin-right: 5px;
    display: block;
}
.weixin{
    position: relative;
}
.ewm{
    width: 152px;
    height: 172px;
    position: absolute;
    top: 32px;left: 1025px;
    display: none;
}
.ewm img{
    list-style: none;
}


.content .weibo{

width: 18px; height: 18px;
margin-right: 30px;
background:  url(../images/logo.png)   no-repeat  0px -56px ;
float: left;
margin-top: 8px;

}


.content-xian{


  width: 100%;height :1px;
  margin: 0 auto;
  background-color: #d2d2d2;
 
  color: #929292;

}


/*  导航从此开始*/
.box{
    width: 99px;
    height:0;
    border-left:1px solid #efefef;
    border-right: 1px solid #efefef;
    position: relative;
    z-index: 2;
    margin-top: 10px;
    transition: all 0.5s;
    overflow: hidden;
}
.text{
    width: 99px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #727171;
    background-color: #fff;
    cursor:default;
}
.text:hover{
    color: #b81c22;
}
.text:first-child{
    border-top: 5px solid #b81c22;
}

.inner{


  width: 1200px;height: 81px;
  margin: 0 auto;
/*  background-color: red;*/

}

.inner .logo{

  width: 166px;height: 47px;
  float: left;
  background: url(../images/gouwu.png) no-repeat  0px -59px ;
}

.inner .leibie {

 width: 968px;height: 81px;
 line-height: 81px;
 float: right;
/* background-color: yellow;*/



}

.inner .daohang{

  width:63px;height:81px;
  float: left;
  line-height: 81px;
  border-right: 1px  solid  #676767;
/*  background-color: blue;*/
  
  

}

#daohang{

  display: block;
text-align: center;
}


.inner .daohang1{

  width:99px;height:81px;
  float: left;
  line-height: 81px;
  border-right: 1px  solid  #676767;
/*  background-color: blue;*/



}
.inner .daohang2{

  width:100px;height:81px;
  float: left;
  line-height: 81px;
  margin-right: 10px;
/*  background-color: blue;*/



}


/*搜索部分从此  开始*/


.content-sousuo{
      width: 1200px;height :85px; 
      margin: 0  auto;
      background-color:  #fff;



}

.content-sousuo .sousuo{

  width: 500px;height: 85px;
  float: right;
  /*background-color: red;*/
}

.content-sousuo .sousuo1{

 width: 500px;height: 29px;
 margin-top: 28px;
/* background-color: yellow;*/


}

.content-sousuo .sousuo2{
 width: 500px;height: 28px;
 line-height: 28px;
 font-size: 12px;
 float: left;
/* background: blue*/
}

.content-sousuo .remen {
  
  width: 70px;height:28px;
  line-height: 28px;
  margin-left: 30px;
  float: left;
}
.lianjie{
  width: 400px;
  height: 28px;
  float: left;
 
}
.lianjiezi{
  margin-left: 9px
}


.content-sousuo .input{

  width: 307px;height: 27px;
  border: 1px solid #c9c9c9;
  float: left;
  background-color: #fff;



}


.content-sousuo .kuang{

    width:240px;height:27px; 
    border: none;
    float: left;
    padding: 0 10px;
 

}

.content-sousuo .sou{

  width: 46px;height: 27px;
  border: none;
  border-left: 1px solid #c9c9c9;
  float: right;
  background-color: #b12121;
    color: #fff;
  cursor: pointer;

}



.content-sousuo .gouwu{
  width: 130px;
  height: 29px;
  float: right;
  line-height: 29px;
  color: #fff;
  background: url(../images/gouwu.png)  no-repeat  -121px -1px ;
}
.gouwu{
    position: relative;
}
 .gowuboxones{
    width:96px;
    height:28px;
     border: 1px solid #b71c22;
    position: absolute;
     top: 89px;
    left: 1133px;
     border-left: none;
     border-top: none;
     background-color: #fff;

}

.gowubox{
    width:220px;
    height:28px;
    border:1px solid #b71c22;
    position: absolute;
    border-right: none;
    top: 88px;left:912px;
    line-height: 28px;
    color: #000;
    background-color: #fff;
    z-index: 8;
}
.gowubox, .gowuboxones{
    opacity:0;
    transition: all 0.5s;
}

.content-sousuo .gouwu-word{

  margin-left: 30px;
  padding-left: 30px
}


.content-sousuo .gouwu :hover{
  color: #b81c22;

  background: url(../images/gouwu.png)  no-repeat  -153px -29px ;
}
/*HSY导航开始*/
.daohanglan{
  width: 1200px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 33px;
/*  background: red;*/

}
.daoahnglanfanke{
  width: 184px;
  height: 55px;
  float: left;
}
.imgvanc{
  width: 184px;
  height: 55px
}
.dangahnglanwenzi{
  width: 1016px;
  height: 16px;
/*  background: blue;*/
  float: left;
  margin-top: 39px;
}
.danghanglanwenziyiyip{
  width: 100px;
  height: 16px;
  border-right: 1px #888 solid;
/*  background:#000;*/
  float: left;
}
.danghanglanwenziyiyip a{
 text-align: center;
  width: 50px;
  height: 16px;
   display:block;
   margin:0 auto;
}
.ooo:hover{
            color: #B81C22;
}
/*banner的开始*/
.img-box{
    width: 1200px;
    height: 576px;
    margin: 0 auto;
    position: relative;
}
.banneroo{
  width: 1200px;
  height: 576px;
  margin: 0 auto;
  position:absolute;
  top: 0;left: 0;
    opacity:1;
    transition: all 0.5s;
 }
.banneroo:first-child{
    z-index: 1;
}
.jiantuozuo{
  width: 18px;
  height: 54px;
  position: absolute;
  right: 13px;
  bottom: 261px;
  background: url(../images/focus_lr0918.png) -60px -5px;
    z-index: 3;
}
.jiantuoyou{
  width: 18px;
  height: 54px;
  position: absolute;
  background: red;
  right: 1169px;
  bottom: 261px;
  background: url(../images/focus_lr0918.png)  -3px -5px;
    z-index: 3;
}
.jiantuozuo:hover{background: url(../images/focus_lr0918.png) -60px -66px;
}
.jiantuoyuo:hover{background: url(../images/focus_lr0918.png) -3px -66px;
}
.section {
    width: 156px;
    height: 16px;
    position: absolute;
    top:520px;left: 528px;
    z-index: 50;
}
.yuanquan{
   width: 16px;
   height: 16px;
   background: #ccc;
   margin-left: 10px;
    float: left;
    border-radius:100%;
    cursor: pointer;
}
.yuanquan:first-child{
    background-color: #b81b22;
}
     /*gudinglan开始*/
.gudinglan{
  width: 75px;
  height: 206px;
  background: #b81b22;
  position: fixed;
  left:50%;
  top: 345px;
  margin-left:565px;
    z-index: 100;

}
.tow-img{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    margin-top: 40px;
    background: url("../images/djs0208.jpg");
}
.wenzioo{
    width: 1200px;
    height:40px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 14px;
    color: #cccccc;
}

 /*内容8从此开始*/
 .content8{width: 1200px;
 	       height :509px;
 	       margin: 0 auto;
 	      /* background-color: #ccc;*/
 	      margin-bottom: 40px;
     margin-top: 40px;
}


.content8 .list{width: 590px;
      height: 509px;
      margin-right: 16px;
       float: left;

      
      
      }

       .content8 .list .images{width: 590px;
              height: 440px;
               display: block;}

      .content8 .list .message{
 	 width: 588px;
 	 height: 69px;
 	 border: 1px solid #dfdfdf;
     border-top: none;line-height: 69px;
 }


 .content8 .list .message1{
 	/*width: 140px;*/
 	height: 69px;
 	padding-left: 12px;
 	float: left;


 }
  

 .content8 .list .message2{
 	/*width: 120px;*/
 	height: 69px;
 	padding-right: 12px;
 	float: right;
 	color:#B81C22;

 }

.content8 .list2{width: 290px;
      height: 509px;
      display: block;
      float: left;
      margin-right: 17px;
    }



.content8 .list2 .list21 {width: 290px;
      height: 249px;
     }

.content8 .list21 .images{width: 290px;
              height: 180px;
               display: block;
               background-color: #B81C22}






      .content8 .list2 .list22 {width: 290px;
      height: 245px;


    

      
     
     }

.content8 .list22 .images{width: 290px;
              height: 175px;
               display: block;
               background-color: #B81C22}
     
.content8 .list2 .message{
 	 width: 289px;
 	 height: 69px;
 	 border: 1px solid #dfdfdf;
     border-top: none;line-height: 69px;
/*   background: red;*/
     margin-bottom: 16px;
 }
#ooo{
  font-size: 16px;
  color: #B81C22;

}

 .content8 .list2 .message1{
 	width: 230px;
 	height: 50px;
 	padding-left: 12px;
 	float: left;


 }
.content8 .list2 .message2{
/* 	width: 150px;*/
 	height: 69px;
 	padding-right: 12px;
 	float: right;
  color: #B81C22;

 }

  .content8 .list3{width: 286px;
      height: 509px;
      
       
       display: block;
       float: left;

      
      
      }


      .content8 .list3 .images{width: 286px;
              height: 440px;
               display: block;}




      .content8 .list3 .message{
 	 width: 285px;
 	 height: 69px;
 	 border: 1px solid #dfdfdf;
     border-top: none;line-height: 69px;
 }


 .content8 .list3 .message1{
 	/*width: 120px;*/
 	height: 69px;
 	padding-left: 12px;
 	float: left;


 }
  

 .content8 .list3 .message2{
 	/*width: 120px;*/
 	height: 69px;
 	padding-right: 12px;
 	float: right;
 	color:#B81C22;

 }
.new-img{
    width: 1200px;
    height: 40px;
    background: url("../images/cz.jpg");
    margin: 0 auto;
}



 /*内容9开始*/

 .content9{width: 1200px;
 	       height :507px;
 	       margin: 0 auto;
           margin-top: 40px;
            margin-bottom: 40px;
 	       /*background-color: #ccc*/
}

.content9 .list{width: 285px;
      height: 507px;
      margin-right: 20px;
      float: left;
      }

      .content9 .list0{width: 285px;
      height: 507px;
      /*margin-right: 20px;*/
      float: left;
      }
 .content9 .images{width: 285px;
              height: 438px;
               display: block;}

 .content9 .message{
 	 width: 282px;
 	 height: 69px;
 	 border: 1px solid #dfdfdf;
     border-top: none;line-height: 69px;
    }
 .content9 .message1{
 	/*width: 100px;*/
 	height: 69px;
 	padding-left: 12px;
 	
 	
 	
 	float: left;
 	/*border: 1px solid red;
*/

 }

 .content9 .message2{
 	/*width: 100px;*/
 	height: 69px;
 	padding-right: 12px;
 	/*border: 1px solid red;*/
	float: right;
 	color:#a10000;
 }
 /*最下面的服务*/
 .zuixiamainfuwu{
  width: 1198px;
  height: 272px;
  border: 1px solid #e0e0e1;
    margin: 0 auto;
  margin-top: 53px;
 /* background: blue;*/

 }
.fuwu{
    width: 1200px;
    height: 171px;
/*    background: red;*/
    margin-top: 33px;
}
.fuwu1,.fuwu12,.fuwu13{
  width: 370px;
  height: 138px;
  border-right: 1px solid #fff;
  float: left;
  margin-left: 42px;
  margin-top: -8px;
/*  background: #000;*/
}
.fuwu12,.fuwu13{
  margin-left: 0px;
}
.fuwu13{
   border-right: none;
}
.fuwukefu{
  width: 37px;
  height: 40px;
 margin-left: 166px;
 margin-top: 15px;
 
}
.kefuwenzi{
  width: 156px;
  height: 32px;
  background: #b81c22;
  margin-top:32px;
  margin-left: 107px;
  color: #fff;
  line-height: 32px;
  text-align: center;
}
.kefuqitian{
    width: 38px;
    height: 38px;
   margin: 0 auto;
   margin-top: 20px;
/*   background: red;
*/
}
.qitianwenzi{
  width: 80px;
  height: 12px;
  margin: 0 auto;
  margin-top: 27px;
  line-height: 12px;
  text-align: center;
  color: #727171;
}
.qitianmeifu{
    width: 123px;
  height: 12px;
  margin: 0 auto;
  margin-top: 14px;
  line-height: 12px;
  text-align: center;
  color: #727171;
}
.erweima{
  width: 98px;
  height: 98px;
  margin: 0 auto;
  margin-top: 3px;
}
.erweimazi{
  width: 128px;
  height: 12px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 12px;
  text-align: center;
  color: #727171;
}
.fankeziti{
  color: #a10000;
}
.xinsouzinan{
  width: 1200px;
  height: 65px;
  border-bottom: 1px solid #fff;
/*  background: #000;*/
  border-top:1px solid #fff
}
.gaunyufabkedakuang{
  width: 1120px;
  height: 56px;
  background: #f8f8f8;
  margin:0 auto;
  margin-top: -10px;
  border-top: 1px #fff solid;

}
.guanyufankewezi0{
  width: 178px;
  height: 26px;
  border-right: 1px solid #dadadb;
  margin-top:17px;
/*  background:red;*/
  float: left;
}
.guanyufankewezi0{
    display: block;
  line-height: 26px;
text-align: center;
color: #323232;
}
/*版权申明*/
.banqshengminh{
    width: 1200px;
    height: 160px;
    margin-top: 25px;
    border-top: 1px solid #3e3a39;
 /*   background: #000;*/
}
.banquanwenzi2017{
  width: 848px;
  height: 14px;
  margin: 0 auto;
  margin-top: 18px;
  color: #3e3a39;
 }

.beijinfanke{
  width: 170px;
  height: 14px;
  margin: 0 auto;
  margin-top: 14px;
   color: #3e3a39;
}
.banquantupian{
   width: 728px;
   height: 46px;
   margin: 0 auto;
   margin-top: 60px;
   background: red;
}
