@import url(../font/iconfont.css);
.iconfont {
    font-family:"iconfont" !important;
    font-size:0.26rem;
    color:#fff;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body,html{
    margin:0;
    width: 100%;
    height: auto;
    position: relative;
}
.sy_all{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    display: none;
    z-index: 99;
}
ul,li,input,image,h1,h2,h3,h4,h5,h6,a{
    margin:0;padding:0;
    list-style:none;
    border:none;
}
a{
    text-decoration: none;
    color:#777777;
}
body{
    background:#F3F3F3;
}
/*顶部开始*/
.top{
    width:100%;height:1.18rem;
    background:#00A2ED;
    line-height:1.18rem;
    position:fixed;
    z-index:999;
    color:#fff;
}
.swiper-wrapper{
    margin-top: 1.18rem;
}
.navdj{
    width:0.4rem;height:0.3rem;
    font-size:0.3rem;
    float:left;
    margin-left:0.3rem;
}
.toptitle{
    height:0.4rem;
    font-size:0.3rem;
    float:left;
    margin-left:0.4rem;
}
.set{
    width:0.4rem;height:0.4rem;
    font-size:0.3rem;
    float:right;
    margin-right:0.2rem;
}
.sy_select{
    width: 4.24rem;
    height:2.12rem;
    background: #fff;
    box-shadow: 0 0 .1rem #ddd;
    position: absolute;
    left:40%;
    top: 33%;
     z-index: 999;
     display: none;
}
.sy_select>div{
     text-indent: 2em;
    line-height: 1rem;
    font-size: .3rem;
    color: #000;

}
/*顶部结束*/
/*左侧导航开始*/
.nav{
    width:6.35rem;height:100%;
    background:#fff;
    position:fixed;left:-6.35rem;
    z-index:1000;
    padding-left:0.34rem;
    transition:all 1s;
}
.login{
    width:6.35rem;height:1.2rem;
    background:#00A2ED;
    margin-left:-0.34rem;
    padding-left:0.34rem;
}
.login img{
    width:0.72rem;height:0.72rem;
    float:left;
    margin-right:0.3rem;
    margin-top:0.24rem;
}
.login span{
    width:1rem;height:0.34rem;
    color:#fff;
    line-height:1.2rem;
    font-size:0.3rem;
}
.mine{
    width:6.35rem;height:1.12rem;
    background:#00A2ED;
    margin-left:-0.34rem;
    padding-top:0.24rem;
    padding-left:0.34rem;
    color:#fff;
    font-size:0.3rem;
}
.minel{
    width:2.3rem;height:0.36rem;
    float:left;
}
.minel p{
    display: block;
    float:left;
    margin-right:0.4rem;
}
.minel span{
    display: block;
    float:left;

}
.miner{
    width:2.3rem;height:0.36rem;
    float:left;
    margin-left:0.7rem;
}
.miner p{
    display: block;
    float:left;
    margin-right:0.4rem;
}
.miner span{
    display: block;
    float:left;
}
.indexp{
    width:6.35rem;height:1.04rem;
    background:#F0F0F0;
    margin-left:-0.34rem;
    line-height:1.04rem;
    padding-left:0.34rem;
}
.indexp p{
    display: block;
    float:left;
    margin-right:0.4rem;
    color:#00A2ED;
    font-size: .5rem;
}
.indexp span{
    display: block;
    float:left;
    color: #00A2ED;
}
.navlist{
    width:6.35rem;
    background:#fff;
    margin-left:-0.34rem;
    padding-left:0.34rem;
}
.navlist li{
    width:6.34rem;height:1rem;
    line-height:1rem;
}
.navlist span{
    color: #000;
    float:left;
}
.navlist p{
    color: #464646;
    float:right;
    margin-right:0.8rem;
}
/*左侧导航结束*/
/*banner图开始*/
.bannerall{
    width:100%;height:4.7rem;
}
.banner{
    width:100%;height:4.7rem;
    position:relative;
}
.banner li{
    width:100%;height:4.7rem;
    position:absolute;
}
.banner a{
    width:100%;height:4.7rem;
    display: block;
    position:relative;
}
.banner img{
    width:100%;height:100%;
    display: block;
    position:absolute;
}
.banner span{
    width:100%;height:1.1rem;
    padding:0 0.3rem;
    display: block;
    position:absolute;
    bottom:0.75rem;
    font-size:0.46rem;
    font-weight: normal;
    color: #fff;
}
.btnall{
    width:1.2rem;height:0.16rem;
    display: flex;
    justify-content: space-around;
    position:absolute;
    left:50%;margin-left:-0.45rem;
    bottom:0.2rem;
}
.btn{
    width:0.14rem;height:0.14rem;
    border-radius:50%;
    background:#888888;
    float:left;
}
/*banner图结束*/
/*内容开始*/
.container{
    width:100%;
    padding:0 0.15rem;
    margin-top: 1.5rem;
}
.contitle{
    height:0.3rem;
    font-size:0.26rem;
    margin-top:1.45rem;
    margin-bottom:0.45rem;
}
.innerlist{
    width:7.12rem;height:2.12rem;
    border-radius:0.08rem;
    box-shadow:0 0 0.1rem #EFEFEF;
    margin:0.3rem 0;
    padding:0.3rem;
    background: #fff;
}
.innerlist span{
    width:4rem;
    display: block;
    font-size:0.36rem;
    float:left;
    color: #333;
}
.innerlist img{
    width:1.7rem;height:1.5rem;
    float:right;
    display: block;
}
/*内容结束*/