.showtop{
    width:100%;height:1.18rem;
    position:fixed;
    background:#00A2ED;
    line-height:1.18rem;
    font-size:0.4rem;
    z-index:6;
}
 .showtop>a{
    text-decoration: none;
    color: #fff;
     font-family:"iconfont"
 }
.return{
    display: block;
    float:left;
    color:#fff;
    margin-left:0.3rem;
}
.fenx{
    display: block;
    float:left;font-size:0.4rem;
    margin-left:1.5rem;
}
.shoucang{
    display: block;
    float:left;font-size:0.4rem;
    margin-left:0.75rem;
}
.pingl{
    display: block;
    float:left;font-size:0.4rem;
    margin-left:0.75rem;
}
.pingl>span{
    padding-left: .1rem
}
.dianz{
    display: block;
    float:left;font-size:0.4rem;
    margin-left:0.3rem;
}
.dianz>span{
    padding-left: .1rem;
}
.tupianzt{
    width:100%;height:4.24rem;
}
.tupian{
    width:100%;height:100%;
    top:1.18rem;
    position:relative;
}
.tupian img{
    display: block;
    width:100%;height:100%;
    position:absolute;
}
.tupian span{
    width:100%;height:1rem;
    padding:0 0.89rem 0 0.35rem;
    bottom:0.6rem;
    position:absolute;
    font-size:0.4rem;
    color: #fff;
}
.tupian p{
    position:absolute;
    bottom:0.24rem;right:0.34rem;
    color:#fff;
    font-size:0.3rem;
}
.biaotl{
    width:100%;height:0.42rem;
    margin-top:1.6rem;
    margin-bottom:0.42rem;
    padding:0 0.4rem;
}
.biaotl img{
    width:0.44rem;height:0.44rem;
    border-radius:0.05rem;
    float:left;
    margin-right:0.22rem;
}
.biaotl span{
    font-weight: bold;
}
.showcon{
    padding:0 0.4rem;
    line-height:0.56rem;
}