@import url(tongyong.css);
.header{
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background: url("../img/banner.jpg") no-repeat center top;
    z-index: 2;
}
.header .top{
    width:960px;height: 90px;
    margin: 0 auto;
    position: relative;
}
.header .logo{
    display: block;
    width:520px;
    height:80px;
}
.header .right{
    position: absolute;
    width: 300px;
    color: #999;
    top: 0;
    right: 0;
    text-align: right;
    height: 30px;
    line-height: 30px;
}
.header .right a{
    padding:0 2px;
    color: #333;
}
.header .right a:hover{
    color: red;
    text-decoration: underline;
}
.search{
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
    height: 45px;
    background: #fff url("../img/bg.png") repeat-x 0 0;
}
.search .top{
    width: 960px;
    margin: 0 auto;
}
.search li{
    float: left;
    height: 40px;
    width: 104px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
.search li .shou{
    width: 104px;
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fae98e;
    background: url(../img/bg.png) no-repeat -2px -46px;
}
.search li .shou1{
    width: 104px;
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fae98e;
    background: url(../img/bg.png) no-repeat -2px -143px;
}
.search .nav{
    float: left;
    width: 2px;
    height: 40px;
    display: block;
    background: url(../img/bg.png) no-repeat 0 -46px;
}
.search li .shou:hover{
    background: url(../img/bg.png) no-repeat -2px -95px;
}
/*neirong*/
.inner{
    width:960px;
    height:auto;
    margin:0 auto;
    background: #fff;
    text-align: left;
    overflow: hidden;
}
.content{
    width: 960px;
    height:250px;
}
.content-left{
    float: left;
    width: 670px;
    height:240px;
    position: relative;
}
.content-left a{
    position: absolute;
    top: 0;left: 0;
    opacity: 0;z-index: 0
}
.quan{
    width: 15px;height: 15px;
    background: blue;
    float: left;
    margin-left: 3px;
    text-align: center;
    line-height: 15px;
}
.quans{
    width: 30px;
    background: orange
}
.kuang{
    position: absolute;
    width: auto;height: 15px;
    right:0;bottom:0;
    z-index: 20;
}
.content-left a:first-child{
    z-index: 1;opacity: 1
}
.content-right{
    float: right;
    width: 280px;
    height:240px;
}
.content .right-top{
    width: 280px;
    height: 32px;
    background: url(../img/1.png) -320px -90px;
}
.content .right-top .left{
    display: block;
    font-size: 14px;
    line-height: 32px;
    text-indent: 35px;
    font-weight: bold;
    color: #333;
    width:100px;
}
.content .right-top .left1{
    display: block;
    float: right;
    text-align: right;
    padding-right: 10px;
    line-height: 16px;
    height: 16px;
    margin-top: -24px;
    color: #333;
}
.content .right-top .left:hover{
    text-decoration: underline;
}
.content .right-top .left1:hover{
    color: #c81623;
}
.content .bottom{
    width:280px;
    height:208px;
    border: 1px solid #EECB9C;
    border-top: none;
    padding: 11px 15px 4px 15px;
    background: #FEFDF9;
}
.content .bottom li{
    text-align: left;
    line-height: 24px;
    padding-left: 12px;
    background: url(../img/2.gif) no-repeat 5px 11px;

}
.content .bottom li a{
    color: #333;
}
.content .bottom li a:hover{
    color: #c81623;
    text-decoration: underline;
}
.content1{
    width:960px;
    height:305px;
    margin-bottom:8px;
}
.content1 .tit{
    width:960px;
    height:44px;
    background: url(../img/3.jpg) no-repeat;
    padding-left: 54px;
}
.content1 .tit h3{
    float: left;
    background-position: 0px -48px;
    width: 74px;
    background-image: url(../img/3.jpg);
    height: 44px;
}
.content1 .tit a{
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 20px 0 0;
    display: inline;
    float: right;
    color: #333;
}
.content1 .tit a:hover{
    text-decoration: underline;
}
.content1 .box{
    width:960px;
    height:261px;
    border: 1px solid #EECB9C;
    border-top: none;
}
.content1 .left{
    width:668px;
    height:260px;
    padding: 10px 10px 10px 25px;
    line-height: 24px;
    float: left;
}
.content1 .left .img{
    float: left;
    margin: 0 12px 0 0;
    display: inline;
    width: 218px;
    height: 160px;
    border: 2px solid #dedede;
    display: block;
    overflow: hidden;
}
.content1 .left a{
    color: #333;
}
.content1 .left a:hover{
    color: #c81623;
    text-decoration: underline;
}
.content1 .right{
    width: 280px;
    height: 260px;
    background: url(../img/4.jpg) no-repeat left top;
    float: right;
}
.content1 .right .top{
    width: 279px;
    height: 36px;
    padding: 8px 0 0 31px;
    background: url(../img/1.png) -320px -238px;
    margin: 0px auto;
}
.content1 .right .top a{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.content1 .right .top a：hover{
    text-decoration: underline;
}
.content1 .bott{
    width:255px;
    height:200px;
    margin-top: 10px;
    padding-left: 15px;
}
.content1 .bott li{
    text-align: left;
    line-height: 25px;
    padding-left: 12px;
    background: url(../img/2.gif) no-repeat 5px 11px;
}
.content1 .bott li a{
    color: #333;
}
.content1 .bott li a:hover{
    color: #c81623;
    text-decoration: underline;
}
.content2{
    width: 960px;
    height: 268px;
    background: url(../img/5.jpg) no-repeat;
    margin-bottom:10px;
}
.content2 .top{
    width: 960px;
    height: 48px;
    padding: 24px 0 0 70px;
}
.content2 .top h3{
    font-family: 黑体;
    font-size: 20px;
    line-height: 24px;
    color: #333;
}
.content2 .bottom{
    width: 924px;
    height: 198px;
    margin: 9px auto 0;
}
.content2 .bottom li{
    width: 154px;
    float: left;
}
.content2 .bottom li a{
    display: block;
    color: #333;
    line-height: 22px;
}
.content2 .bottom li a img{
    width: 120px;
    height: 170px;
    display: block;
    border: 1px #CBCBCB solid;
    margin: 0 auto 4px;
}
.content2 .bottom li .zi{
    display: block;
    color: #333;
    line-height: 22px;
    text-align: center;
}
.content2 .bottom li .zi:hover{
    color: #c81623;
    text-decoration: underline;
}
.content3{
    width:960px;
    height:auto;
    background: #F7F7F7;
}
.content3 .top{
    width:960px;
    height:35px;
    padding: 0 20px 0 18px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
}
.content3 .top h3{
    width:100%;
    height:35px;
    background: url(../img/12.png) no-repeat 0 -36px;
    background-position: 0 -72px;
}
.content3 .bottom{
    width: 960px;
    height:auto;
    padding: 14px 19px 13px;
    border: 1px solid #cdcdcd;
    border-top: 0;
    line-height: 25px;
    background: #F7F7F7;
}
.content3 .bottom a{
    line-height: 25px;
    color: #333;
}
.content3 .bottom span{
    padding: 0 3px 0 3px;
    color: #d5d5d5;
}
.content3 .bottom a:hover{
    color: #c81623;
    text-decoration: underline;
}
.foot{
    width: 960px;
    border-top: 1px solid #ccc;
    padding-bottom: 15px;
    margin:0 auto;
    margin-top:15px;
}
.foot .top{
    float: left;
    width: 100%;
    padding-top: 10px;
    height: 34px;
    line-height: 24px;
    color: #999;
    text-align: center;
}
.foot .top a{
    color: #999;
}
.foot .top a:hover{
    color: #000;
}
.foot .bottom{
    float: left;
    width: 100%;
    color: #e8e8e8;
    text-align: center;
    line-height: 24px;
    margin-top:2px;
}
.foot .bottom a{
    color: #999;
    padding: 0 5px;
}
.foot .bottom a:hover{
    color: #000;
}
.foot .bottom .list{
    display: block;
    margin:0 auto;
}
.foot .top .list img{
    display: block;
    width:50px;
    height:12px;
    padding:0 5px;
}