@import url(tongyong.css);
.header{
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background: url("../img/banner.jpg") no-repeat center top;
    z-index: 2;
}
.header .top{
    width:960px;height: 90px;
    margin: 0 auto;
    position: relative;
}
.header .logo{
    display: block;
    width:520px;
    height:80px;
}
.header .right{
    position: absolute;
    width: 300px;
    color: #999;
    top: 0;
    right: 0;
    text-align: right;
    height: 30px;
    line-height: 30px;
}
.header .right a{
    padding:0 2px;
    color: #333;
}
.header .right a:hover{
    color: red;
    text-decoration: underline;
}
.search{
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
    height: 45px;
    background: #fff url("../img/bg.png") repeat-x 0 0;
}
.search .top{
    width: 960px;
    margin: 0 auto;
}
.search li{
    float: left;
    height: 40px;
    width: 104px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
.search li .shou{
    width: 104px;
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fae98e;
    background: url(../img/bg.png) no-repeat -2px -46px;
}
.search li .shou1{
    width: 104px;
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fae98e;
    background: url(../img/bg.png) no-repeat -2px -143px;
}
.search .nav{
    float: left;
    width: 2px;
    height: 40px;
    display: block;
    background: url(../img/bg.png) no-repeat 0 -46px;
}
.search li .shou:hover{
    background: url(../img/bg.png) no-repeat -2px -95px;
}
.content{
    width: 960px;
    margin: 0 auto;
    background: #fff;
    text-align: left;
    margin-top: 5px;
}
.content:after{
    content: '';display: block;
    clear: both;
}
.sidebar{
    float: left;
    width: 221px;
    padding: 0 1px;
    border: 1px solid #edc899;
    height:621px;
}
.title h3{
    float: left;
    width: 100%;height: 559px;
    height: 30px;
    color: #5e0101;
    font-size: 12px;
    font-weight: 700;
    background: #eab774 url(../img/tu1.png) no-repeat -216px -521px;
    line-height: 34px;
    text-indent: 18px;
}
.sidenav{
    float: left;
    width: 100%;
    margin-top: 2px;
    height: auto;
    border-top: 1px solid #edc899;
}
.sidenav li{
    float: left;
    width: 100%;
    height: 29px;
    font-size: 13px;
    overflow: hidden;
}
.sidenav a{
    color: #333;
    font-weight: 400;
    width: 219px;
    line-height: 33px;
    display: block;
    background: url(../img/tu1.png) no-repeat -215px -552px;
    text-indent: 40px;
    text-decoration: none;
}
.sidenav a:hover{
    color: red;
    font-weight: 400;
    width: 219px;
    line-height: 33px;
    display: block;
    background: url(../img/tu1.png) no-repeat -215px -581px;
    text-indent: 40px;
    text-decoration: none;
}
.sideserver{
    width: 204px;height: 255px;
    float: left;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 20px;
}
.serverpic{
    float: left;
    margin-left: 9px;
    width: 204px;
    height: 64px;
    background: url(../img/serverPic.jpg) no-repeat 0 0;
    display: block;
}
.sideserver ul{
    width: 219px;height: 120px;
    float: left;
    margin-top: 8px;
}
.sideserver li{
    float: left;
    width: 100%;
    color: #333;
    font-size: 12px;
    line-height: 24px;
    text-indent: 18px;
}
.content .right{
    width:730px;
    height:621px;
    float:right;
}
.content .top{
    width: 100%;
    height: 32px;
    background: #eab774 url(../img/1.png) no-repeat 0 -702px;
}
.content .top h3{
    float: left;
    width: 100%;
    height: 32px;
    color: #a00909;
    font-weight: 700;
    line-height: 34px;
    text-indent: 30px;
}
.content .bott{
    width: 730px;
    height:588px;
    padding: 10px 25px;
    border:1px solid  #edc899;
    border-top:0;
}
.content .list{
    width:660px;
    height:332px;
    margin: 10px auto;
    text-align: center;
    background: #f2bc86;
    position: relative;
}
.content .low{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 490px;
    height: 324px;
    display: block;
    background: #f8eedd;
    border: #f8eedd 2px solid;
    z-index: 5;
}
.content .low img{
    display: block;
}
.content .low .down{
    z-index: 20;
    background: rgba(0,0,0,0.4);
    position: absolute;
    color: #fff;
    left: 2px;
    bottom:0px;
    width: 486px;
    height: 24px;
    line-height: 26px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.content .setfoc{
    position: absolute;
    width: 160px;
    height: 324px;
    top: 0px;
    right: 0;
}
.content .set{
    float: left;
    width: 79px;
    cursor: pointer;
    top: 10px;
    padding: 4px 0 2px 4px;
    z-index: 20;
    height: 55px;
}
.content .set a{
    display: block;
}
.content .set a img{
    display: block;
    width: 71px;
    height: 49px;
    border: 3px solid #b17437;
}
.content .set a img:hover{
    border: 3px solid white;

}
.content p{
    width: 660px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
}
.foot{
    width: 960px;
    border-top: 1px solid #ccc;
    padding-bottom: 15px;
    margin:0 auto;
    margin-top:15px;
}
.foot .top{
    float: left;
    width: 100%;
    padding-top: 10px;
    height: 34px;
    line-height: 24px;
    color: #999;
    text-align: center;
}
.foot .top a{
    color: #999;
}
.foot .top a:hover{
    color: #000;
}
.foot .bottom{
    float: left;
    width: 100%;
    color: #e8e8e8;
    text-align: center;
    line-height: 24px;
    margin-top:2px;
}
.foot .bottom a{
    color: #999;
    padding: 0 5px;
}
.foot .bottom a:hover{
    color: #000;
}
.foot .bottom .list{
    display: block;
    margin:0 auto;
}
.foot .top .list img{
    display: block;
    width:50px;
    height:12px;
    padding:0 5px;
}