@import url(2.css);
ul,p,h1,h2,h3,body,input,img{
    padding:0;border: none;margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
.top{
    width: 100%;height: 400px;
    background: url("../tp/top-1.jpg") no-repeat;
    background-position: center;
    background-size:cover;
}
.font{
    font-size: 60px;
    display: block;color: #fff;
    text-align: center;
    padding-top: 170px;
    font-weight: bolder;
}
.font:hover{text-decoration: underline;}
.top h1{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-weight:lighter;
}
.icon{
    display: block;
    height: 66px;
    background: url("../tp/top-2.png") no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 68px;
}
.nr{
    background: #fff;padding: 10px;height: auto;
}
.nr>a{display: block;}
.nr img{
    display: block;max-width: 100%;height: auto;
}
.nr h2{text-align: center;}
.aaa{color: #aaa;font-size: 24px;}
.aaa:hover{
    text-decoration: underline;color: #000;
}
.f1{
     width: 100%;color: #111;height: 76px;line-height: 76px;padding: 15px;text-align: center;
}
.f1{float: left;}
.f2{float: left;width: 100%;height:140px;background: #eee;text-align: center; }
.f2 p{display: block;height: 24px;text-align: center;}
