ul,ol,div,h1,h2,input,body,ul,li{
    margin: 0px; padding: 0px;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #fff;
}
ul,li{
    list-style: none;
}
img{
    border: none;
}
*{
    box-sizing: border-box;
}
/*最上面*/
.top{
    width: 100%;
    height: 42px;
    background: #444;
    border-bottom: 2px solid #333;
}
.topgunag{
	margin: 0 auto;
	width: 1000px;
    height: 42px;
    line-height: 42px;
    text-align: right;
    color: #8c8c8e;
}


/*nav*/
.nav{
    width: 100%;
    height:44px;
    background: #000
}
@font-face {
  font-family: 'iconfont';  /* project id 222838 */
  src: url('at.alicdn.com/t/font_k2u16zxaugdxtj4i.eot');
  src: url('at.alicdn.com/t/font_k2u16zxaugdxtj4i.eot?#iefix') format('embedded-opentype'),
  url('at.alicdn.com/t/font_k2u16zxaugdxtj4i.woff') format('woff'),
  url('at.alicdn.com/t/font_k2u16zxaugdxtj4i.ttf') format('truetype'),
  url('at.alicdn.com/t/font_k2u16zxaugdxtj4i.svg#iconfont') format('svg');
}
.navsum2,.navsum9,.navsum10{font-family: 'iconfont';}
.vv{
	width: 1000px;height: 44px;line-height: 44px;text-align:justify;margin: 0 auto;
}
.vv:after{content: "";display: inline-block;width: 100%}
.vv li{
	display: inline-block;color: #fff;font-size: 18px;padding: 0 10px;
}
.vv a{transition:color 0.5s;}
#navsum{
    display:none;
}
#apple:hover{
    color: #c3c3c3;
}
@media screen and (max-width: 1068px){
          .vv{width: 100%}
          #navsum{
            display: none;
          }
          .topgunag{
           width: 100%;
           text-align: right;
           padding-right: 10px;
           color: #8c8c8e;}
}
@media screen and (max-width: 738px){
           #navsum{font-family:'iconfont'; 
            display: inline-block;color: #fff;transition:color 0.5s;
           }
           #navsum:hover{
            cursor: pointer;color: #c3c3c3;
           }
           #hid{
            display: none;
           }
           .topgunag{
           margin: 0 auto;
           width: 100%;
           height: 42px;
           line-height: 42px;
           text-align: right;
           padding-right: 10px;
           color: #8c8c8e;
}
}

 /*banner*/
.banner{
    width:100%;
    height: 533px;position: relative;overflow: hidden;
}
.banner a{display:block;width: 100%;height: 100%}
.ban{
  width: 100%;height: 373px;background-image: url(../tp/banner1.jpg);background-repeat: no-repeat;background-size: 100% auto;background-position: center;position: absolute;
}
.gg{width: 100%;height: 160px;
  background:#F08E2E;
}
.gg h1{font-size: 42px;font-family:Arial;text-align: center;padding-top:32px;}
.gg h2{font-size: 26px;font-family:Arial;text-align: center;margin-top: 12px;}
@media screen and (max-width: 1068px){
  .banner{height: 490px;}
  .ban{height:398px; background-image: url(../tp/banner2.jpg);background-size:auto 150%;}
  .gg{height: 92px;}
  .gg h1{font-size:32px;padding-top:16px;}
  .gg h2{font-size:18px;margin-top:8px;}
}
@media screen and (max-width: 735px){
  .banner{height: 486px;}
  .ban{height: 344px;background-image: url(../tp/banner3.jpg);background-size: auto 150%;}
  .gg{height: 142px;}
  .gg h1{font-size:30px;}
}


 /*下文开始*/
.flock{
    width:100%;height: 200px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.imgs{
    width: 25%;
    height: 200px;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
       border-bottom: 2px solid #fff;
}
@media screen and (max-width:1068px){.imgs{
    width:50%;height:100%;
}
}
@media screen and (max-width:735px){.imgs{
    width:100%;height:100%;
}
}
.flock .imgs:nth-child(1){
    background-image: url("../tp/f1.jpg");
    border-right: solid 2px #fff;
}
@media screen and (max-width:1068px){.flock .imgs:nth-child(1){
    background-image: url("../tp/s1.jpg");
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;

}
}
@media screen and (max-width:735px){.flock .imgs:nth-child(1){
    background-image: url("../tp/m1.jpg");
    border-bottom: solid 2px #fff;
}
     /*.flock{overflow: hidden;height: auto;}*/
     .flock .imgs:nth-child(2){
    background-image: url("../tp/m2.jpg");
    border-bottom: solid 2px #fff;
}
.flock .imgs:nth-child(3){
    background-image: url("../tp/m3.jpg");
    border-bottom: solid 2px #fff;
}
.flock .imgs:nth-child(4){
    background-image: url("../tp/m4.jpg");
    border-bottom: solid 2px #fff;
}
}
.flock .imgs:nth-child(2){
    background-image: url("../tp/f2.jpg");
    border-right: solid 2px #fff;
}
@media screen and (max-width:1068px){.flock .imgs:nth-child(2){
    background-image: url("../tp/s2.jpg");
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
}
}
.flock .imgs:nth-child(3){
    background-image: url("../tp/f3.jpg");
    border-right: solid 2px #fff;
}
@media screen and (max-width:1068px){.flock .imgs:nth-child(3){
    background-image: url("../tp/s3.jpg");
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
}
}
.flock .imgs:nth-child(4){
    background-image: url("../tp/f4.jpg");
}
@media screen and (max-width:1068px){.flock .imgs:nth-child(4){
    background-image: url("../tp/s4.jpg");
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
}
}
/*最下面*/
.big{
  width:100%;
  height: 450px;
  margin-top: 2px;
  background: #f2f2f2;
}
.kuai{
  width: 90%;
  height: 300px;
  margin: 0 auto;
  padding-top: 20px;
}
.kuai ul{
  width:19%;display: inline-block;vertical-align:text-top;
  height: auto;
}
.kuai h1{
  font-size: 12px;color: #000;
}
.kuai li{margin-top:5px;}
.kuai a{color: #333;}
@media screen and (max-width: 1068px){
  .big{height: 100%;}
  .kuai{height: 100%;}
}
@media screen and (max-width: 735px){
          #hh{
            display: none;
          }
         .kuai ul{display: block;width: 90%;border-bottom: 1px solid #ccc;
          }
          br{display: none;}
          #lc{border-bottom: 1px solid #ccc;}
}
/*更多方式购买*/
.morebuy,.copy{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    margin-top: 29px;
    border-bottom: 1px solid #e3e3e3;
 
}
.morebuy a{
    color: #1d7bcb;
}
.copy{
     margin-top: 12px;
     border: none;
     color: #a0a0a0;

}
/*@media screen and (max-width:735px){
     .bigtext{width: 100%;height: }
     .list{width: 70%}

}*/