ul,li,ol,dl,dd,dt,tr,td,h1,h2,h3,h4,h5,h6,input,img,div,section{
	 margin: 0;padding: 0;
	 list-style:none;
     display: block;}

a{text-decoration: none;padding: 0;
margin: 0; color:#333; display: block;}

body{ font-size: 12px;
      font-family: "宋体";
      position: relative;
      margin: 0px;

     }
.yingyuhezuo{
	width: 100%;
	height: 24px;
	background: #f6f6f6;
}  
.yingyuhezuoxide{
	width: 100%;
	height: 1px;
	background: #ececec;
}
.diyuhang{
width: 1200px;
height: 24px;
margin: 0 auto;
/*background: red*/
}

.yingyu,.yingyu0{
	width: 68px;
	height: 24px;
	border-right: 1px solid #ececec;
	float: left;
	color: #888888;
	text-align: center;
	line-height: 24px;
}
.yingyu0{
	margin-left: 0px;
}
.denglu{
	width: 49px;
	height: 24px;
	margin-left: 670px;
	float: left;

}
.denglu:hover{
	background-color: #fff;
}
.dengluimg{
	width: 170px;
	height:120px;
	background-color: #fff;
	position: absolute;
	top:24px;
	left:846px;
	box-shadow:0 0 10px #ccc;
	opacity: 0;
}
.denglutext{
	width: 140px;
	height: 35px;
	border: 1px solid #e4e4e4;
	margin-left: 15px;
	text-align: center;
	line-height: 35px;
	color: #25b2fe;
}
.denglutext:first-child{
	margin-top: 23px;
}
.denglutext:last-child{
	margin-top: 15px;
}
.denglutext:first-child:hover{
	 background-color:#25b2fe ;
	color: #fff;
}
.denglutext:last-child:hover{
	background-color: #25b2fe;
	color: #fff;
}
.xiaoren{
	width: 13px;
	height: 13px;
	margin-top: 6px;
	float: left;
	background: url(../images/t3-1.png);
}
.denglizi,.denglizisjyyt,.jfsc,.gyzgyd,.lxwm{
        float: left;
        color: #e40077;
        line-height: 25px;
        margin-left: 3px;

}
.yingyu:hover{
color: #25b2fe;
}
.denglizi:hover{
	color: #25b2fe;
}
.yingyu0:hover{
	color: #25b2fe;
}
.jfztts:hover{
	color: #25b2fe;
}
.shuxian01,.shuxian02{
	width: 1px;
	height: 10px;
	background: #f6efe6;
	float: left;
	margin-top: 9px;
}
.shuxian02{
	background: #e0e3ea;
	float: left;
}
.sjiyyt{
	width: 132px;
	height: 24px;
	float: left;
}
.sjyytsj{
	width: 10px;
	height: 14px;
	float: left;
	margin-left: 10px;
	margin-top: 6px;
	background: url(../images/t1-1.png);
}
.denglizisjyyt,.jfztts{
	color: #888;
}
.denglizisjyyt:hover{
	color: #25b2fe;
}
.new{
	width: 36px;
	height: 15px;
	margin-top: 6px;
	margin-left: 85px;
	background: url(../images/new.gif) no-repeat;

}
.jfsc{
	width: 59px;
}
.jfztts{
	text-align: center;
}
.gyzgyd{
	width: 82px;
}
/*标题栏*/
.title{
	width: 1200px;
	height: 92px;
	border-top: 1px solid #fff;
	margin: 0 auto;
}
.logo{
	width: 230px;
	height: 42px;
	margin-top: 25px;
	float: left;
	background:url(../images/logo.png);

}
.xian,.zhizhneg{
	width: 35px;
	height: 14px;
	color: #333;
	margin-left: 19px;
	float: left;
	margin-top: 38px;

}
.zhizhneg{
	width: 8px;
	height: 14px;
	margin-left: 0px;
	background:url(../images/x.gif) no-repeat right 5px;
}
.sousuo{
	width: 623px;
	height: 58px;
	margin-left: 557px;
    margin-top: 15px;
    border-top: 1px solid #fff;
}
.sousuoluang{
	width: 489px;
	height: 32px;
	float: left;
	border: 2px solid #e4e4e4;
	border-right: 0px;
 
}
.sousuolan{
	width: 85px;
	height: 36px;
	background:url(../images/search.png) #25b2fe no-repeat 15px center;
	float: left;
}
.sousuozi{
	width: 28px;
	height: 17px;
	margin-top: 10px;
	margin-left: 37px;
	color: #fff;
}
.zi{
	width: 420px;
	height: 17px;
	margin-top: 44px;
}
.diyige,.diyige0,.diyige1,.diyige2,.diyige3{
	width: 68px;
	height: 17px;
	float: left;
}
.diyige0{
	width: 44px;
}
.diyige1{
	width: 80px;
}
.diyige2{
	width: 56px;
}
.diyige3{
	width: 44px;
}
.diyige{
	color:#e40077}
.diyige1{
	color:#e40077}
.diyige3{
	color:#e40077}
.diyige0:hover{
	color: #25b2fe;
}
.diyige1:hover{
	color: #25b2fe;
}
.diyige2:hover{
	color: #25b2fe;
}
.diyige3:hover{
	color: #25b2fe;
}
.diyige:hover{
	color: #25b2fe;
}
/*导航*/
.daohangmax{
	width: 1200px;
	height: 40px;
	margin-top: 20px;
}
.daoahng{
width: 159px;
height: 38px;
border-right: 1px solid #fff;
border-top: 2px solid #0085d0;
float: left;
text-align: center;
line-height: 40px;
color: #0085d0;
background: #e4e4e4	
}
.daohang207,.daohang2070{
	width: 259px;
	height: 40px;
	border-right: 1px solid #fff;
	float: left;
	text-align: center;
    line-height: 40px;
	background: #e4e4e4	
}
.daohang2070{
	width: 260px;
	border-right: none;
}
.daoahng:hover{
	background: #f2f1f1
}
.daohang207:hover{
	color: #0085d0;
	background:#f2f1f1 
}
.daohang2070:hover{
	color: #0085d0;
	background:#f2f1f1;
}
/*banner*/
.banner{
	width: 1200px;
	height: 350px;
	margin-top: 5px;
}
.zuomian{
	width: 158px;
	height: 349px;
	border: solid 1px #b8d9e9;
	float: left;
	 margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.diyihang{
	width: 138px;
	height: 27px;
	border-bottom: 1px solid #e9e9e9;
	margin-top: 5px;
	margin-left: 10px;
	text-align: center;
	line-height: 28px;
}
.dierhang,.dierhang0{
	width: 138px;
	height: 63px;
	border-bottom: 1px solid #e9e9e9;
	margin-left: 10px;
	text-align: center;
	line-height: 63px;
}
.tpsj,.tpsj1,.tpsj2,.tpsj3,.tpsj4{
	width: 55px;
	height: 41px;
	float: left;
	background: url(../images/shopclass01.gif) no-repeat 29px 20px;
}
.wenzi{
	width: 56px;
	height: 63px;
	float: left;
	font-size: 14px;
}
.dierhang0{
  border-bottom: none;
}
.tpsj1{
	background: url(../images/shopclass02.gif) no-repeat 29px 20px;
}
.tpsj2{
	background: url(../images/shopclass03.gif) no-repeat 29px 20px;
}
.tpsj3{
	background: url(../images/shopclass05.gif) no-repeat 29px 20px;
}
.tpsj4{
	background: url(../images/grzx.jpg) no-repeat 29px 20px;
}
#o1:hover{
	color: #25b2fe;
}
.bannersum{
	width: 740px;
	height: 350px;
	float: left;
	overflow: hidden;
	margin-top: 5px;
}
.boxx{
	width:740px;
	position: relative;
	float: left;
	transition: all 1s;
}
.dabanner{
	width: 740px;
	height: 350px;
	float: left;
	position: absolute;
	top:0;left:0;
}
.dabanner:first-child{
	z-index:2;
}
.xiaoquan{
	width: 163px;
	height: 15px;
	position: absolute;
	left: 50%;
	margin-left: -82px;
	margin-top: 329px;
	z-index: 99999;
}
.xx{
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 3px;
	border-radius: 50%;
	background: #ADADAE;
}
.l{
	width:35px;
	height:70px;
	background: url("../images/images/lbnextpre.png") no-repeat;
    position: absolute;
	top: 315px;
	left: 208px;
	bottom: 0; right: 0;
	z-index: 100;
}
.r{
	width:35px;
	height:70px;
	background: url("../images/images/lbnextpre.png") no-repeat -35px;
	position: absolute;
	top: 315px;
	left:913px;
	z-index: 100;
}
/*.xx:hover{*/
	/*background:#E32185;*/
/*}*/
.you{
	width: 276px;
	height: 348px;
	border: 1px solid #dfdfdf;
	float: left;
	margin-left: 11px;
	margin-top: 5px;
}
.huafeicx{
	width: 92px;
	height: 76px;
	border-top: 1px solid #fff;
	float: left;
}
.huafeicx01{
	width: 92px;
	height: 36px;
	background:url(../images/20160323161008732O2n.gif) no-repeat 30px 0px;
	margin-top: 12px;
}
.hot{
	width: 21px;
	height: 21px;
	border-radius: 50%;
	margin-left: 55px;
	text-align: center;
	line-height: 21px;
	background: #e40077;
	color: #fff;
}
.huadcxwenzi{
	width: 92px;
	height: 14px;
	margin-top: 10px;
	text-align: center;
}
#ll{
	background:url(../images/20160323161051270xTE.gif) no-repeat 30px 0px;
}
#gj{
	background:url(../images/20160927112035566Pxd.png) no-repeat 30px 0px;
}
.xiamainde{
	width: 276px;
	height: 77px;
}
#jfdh0{
	background:url(../images/20160323161119374xjY.gif) no-repeat 30px 0px;
}
#yhcx{
	background:url(../images/20160323161129527sVd.gif) no-repeat 30px 0px;
}
#ywbl{
	background:url(../images/20160630153706213per.jpg) no-repeat 30px 0px;

}
#hfcxx:hover{
	background:url(../images/20160323161017848QKh.gif) no-repeat 30px 0px;

}
#ll:hover{
	background:url(../images/201603231610567162Is.gif) no-repeat 30px 0px;

}
#gj:hover{
	background:url(../images/201609271120403994p0.png) no-repeat 30px 0px;

}
#jfdh0:hover{
	background:url(../images/20160323161124550U1Y.gif) no-repeat 30px 0px;

}
#yhcx:hover{
background:url(../images/201603231611338666cs.gif) no-repeat 30px 0px;

}
#ywbl:hover{
	background:url(../images/201606301537140034f8.jpg) no-repeat 30px 0px;
}
.cx{
	width: 276px;
	height: 14px;
	background: red;
	margin-top: 10px;
}
.xuexiaoq{
	width: 276px;
	height: 156px;
}
.czjiaofei{
	width: 276px;
	height: 14px;

}
.czhfzi{
	width: 81px;
	height: 14px;
	float: left;
	margin-left: 26px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #fff

}
.dazhe{
	width: 37px;
	height: 14px;
	margin-left: 110px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	color: #ff0000;
/*	background: #000*/
}
#ppp:hover{
	text-decoration: underline;
}
.kuang{
	width: 233px;
	height: 34px;
	margin-left: 22px;
	margin-top: 11px;
	border: 1px solid #dadada;
}
.kuang0{
	width: 235px;
	height: 34px;
	margin-left: 22px;
	margin-top: 11px;
}
.jiner{
	width: 40px;
	height: 32px;
	border: 1px solid #dfdfdf;
	margin-right: 5px;
	float: left;
	line-height: 34px;
	text-align: center;
}
.jiner:hover{
	background: #e40077
}
.ljdl{
	width: 90px;
	height: 35px;
	margin-left: 95px;
	margin-top: 10px;
	background: #33acfb;
	line-height:35px;
	color: #fff;
	text-align: center;
}
/*banner的下面*/
*{

}
.box{
	width: 1200px;
	height: 180px;
	margin-top: 285px;
	border-top: 10px solid #dfdfdf;
	border-bottom: 10px solid #dfdfdf;
	border-left: 15px solid #dfdfdf;
	border-right: 15px solid #dfdfdf;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}
.left,.right{
	width: 28px;
	height: 36px;
	position: absolute;
	top:71px;
}
.left{
	left:0px;
}
.right{
	left: 1144px;
}
.left img{
	width: 28px;
	height: 35px;


}
.right img{
	width: 28px;
	height: 35px;
}
.img{
	width: 285px;
	height: 160px;
	float: left;
	background: #2e6da4;
	border-right: 10px solid #dfdfdf;
}
.img:last-child{
	border-right:none;
}
.content{
	width:5015px;
	height: 160px;
	transition: all 0.5s;
	margin-left: -295px;
}
/*4G专区*/
.fourg{
	width:1198px;
	height: 425px;
	margin-top: 10px;
	border: 1px solid #dfdfdf;
/*	background: red;*/
}
.gg{
	width: 1199px;
	height: 47px;
	border-top: 1px solid #fff;
}
.fougzi{
	width: 51px;
	height: 13px;
	margin-top: 19px;
	margin-left: 27px;
	color: #0085d0;
	font-size: 15px;
}
.gengduo{
	width: 100px;
	height: 13px;
	color: #666666;
	margin-left: 1100px;
	margin-top: -15px;
}
.fourtp{
	width: 1200px;
	height: 378px;
	border-top: 1px solid #dfdfdf;
}
.diyigetp{
	width: 298px;
	height: 378px;
	float: left;
	border-right: 1px solid #dfdfdf;
	background: url(../images/20160517132707556e41.jpg) no-repeat;
}
.zhongkaung{
	width: 900px;
	height: 190px;
	float: left;
/*	background: #000*/
}
.asdf{
	width: 299px;
	height: 189px;
	float: left;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
/*	background: #666*/
}
.wenzitp{
	width: 192px;
	height: 38px;
	margin-top: 10px;
	background: url(../images/wemzitp.png) no-repeat;
}
.tpdongde{
	width: 299px;
	height: 189px;
}
.tpdongde{
	 transition:0.5s;
	background:url(../images/201512171623483675aa.jpg) no-repeat 76px 10px;
}
.tpdongde:hover{
   transform:translateX(-10px)
}

.wenzitp0{
	width: 192px;
	height: 38px;
	margin-top: 9px;
	background: url(../images/wemzitp.png) no-repeat;
}
.tpdongde0{
	width: 299px;
	height: 189px;
}
.tpdongde0{
	 transition:0.5s;
	background:url(../images/201512171623483675aa.jpg) no-repeat 76px 10px;
}
.tpdongde0:hover{
   transform:translateX(-10px)
}
/*买手机*/
.sjmm{
	width: 299px;
	height: 375px;
	margin-top: 18px;
	float: left;
	border-top: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
/*	background: #333*/
}
.sjttp{
	width: 299px;
	height: 94px;
	background: #000

}
.sjttp{
	background: url(../images/03.png) no-repeat;
}
.fghjk{
	transition:0.5s;
	width: 212px;
	height: 263px;
	margin-top: 12px;
	margin-left: 84px;
	background:url(../images/04.png) no-repeat;
}
.fghjk:hover{
	transform:translateX(-10px)
}
#opo{
	 border-right:0px;
}
/*业务推荐*/
.hyhyh{
	width: 1198px;
	height: 425px;
/*	background: red;*/
	margin-top: 387px;
	border: 1px solid #ccc;
}
.ywtz{
	width: 85px;
	height: 29px;
	float: left;
	margin-top: 18px;
	text-align: right;
	color: #0085d0;
}
.ckgd{
	width:86px;
	height: 29px;
	margin-left:1089px;
	color: #666;
	margin-top: 18px;
}
.firstimage0{
	width: 300px;
	height: 377px;
	float: left;
	border-top: 1px solid #ccc;
	background:url(../images/20170103171204821LcQ.jpg);
}
.firstimage1,.firstimage1s{
	width: 299px;
	height: 377px;
	float: left;
	border-top: 1px solid #ccc;
/*	background: #888;*/
}
.firstimage1s{
	width: 300px;
}
.firstsmall,.firstsmalls,.firstsmallss,.firstsmallsss{
	width: 298px;
	height: 188px;
	border-top: 1px solid #fff;
}
.firstsmallss,.firstsmallsss{
	border-left: 1px solid #ccc;
}
.firstsmalls,.firstsmallsss{
	border-top: 1px solid #ccc
}
.firstimage1 a{
	display: block;
}
.list1{
	width: 279px;
	height: 20px;
	font-size: 16px;
	color: #333333;
	margin-top: 10px;
	margin-left: 20px;
}
.list2{
	width: 279px;
	height: 19px;
	color: #666666;
    margin-left: 20px;
}
.doimg{
	width: 279px;
	height: 147px;
	transition:all 1s;
	background: url(../images/20150814135125239Uk8.jpg) no-repeat 65px 5px;

}
#doingxia{
	background: url(../images/20150814135125239Uk8.jpg) no-repeat 65px 5px
}
.doimg:hover{
		transform:translateX(-10px); 

}
a{
	display: block;
}
.boxtext{
	width: 1200px;
	height: 38px;
	border: 1px solid #dfdfdf;
	margin-top: 10px;
}
.smallicon{
	width: 22px;
	height: 38px;
	background: url("../images/0000000.gif") no-repeat;
	background-size: contain;
	background-position: center;
	margin-left: 21px;
	float: left;
}
.boxtext span{
	width: 52px;
	height: 38px;
	line-height: 38px;
	margin-left: 8px;
	float: left;
}
.text{
	width: 392px;
	height: 38px;
	line-height: 38px;
	color: #0aa6e8;
	font-size: 14px;
	float: left;
}
.date{
	width: 70px;
    height: 38px;
	line-height: 38px;
	color: #ccc;
	font-size: 14px;
	float: left;
	margin-left: 8px;
}
.mleft{
	height: 38px;
	line-height: 38px;
	 margin-left: 620px;
}
#lt{
	width: 24px;
	height: 38px;
	float: left;
	padding-left: 39px;
	color: #0aa6e8;
}
/*最下面*/
.wertq{
	width: 1200px;
	height: 229px;
	border: 1px solid #dfdfdf;
	margin-top: 10px;
}
.fuzu{
	width: 195px;
	height: 200px;
	margin-top:27px;
	margin-left: 35px;
}
.shupaiwenzi{
	width: 90px;
	height: 27px;
}
.mmlp{
	float: left;
}
.shupaiwenzi:hover{
	color: #2fb1eb;
	text-decoration: underline;
	cursor: pointer;

}
.copy{
	width: 600px;
	height: 130px;
	margin: 0 auto;
	margin-top: 30px;
}
.cp1,.cp2{
	width: 60px;
	height: 31px;
	float: left;
/*	background: #555*/
}
.cp2{
	width: 90px;
}
.cp2:hover{
	color: #2fb1eb;
	text-decoration: underline;
	cursor: pointer;}
.cp1:hover{
	color: #2fb1eb;
	text-decoration: underline;
	cursor: pointer;}
	.cp3,.cp3o{
		width: 580px;
		height: 31px;
		margin-left: 22px;
		margin-top: 30px;
/*		background: #666*/
	}
	#oko{
		text-align: center;
	}
	.cp3o{
		margin-top: 0px;
	}
.zuihou{
	width: 284px;
	height: 67px;
	margin: 0 auto;
	background:url(../images/hjkl.png) no-repeat;

}
.dierge{width: 135px;
	height: 67px;
	margin-left: 150px;
	position: relative;
	background:url(../images/2017-01-14T13-55-41_03.png) no-repeat;

}
/*侧面*/
.cemian{
	width: 45px;
	height: 130px;
	position: absolute;
	left: 1250px;
	top: 300px;
	position: fixed;
	background:url(../images/kdzq.png) no-repeat;
}
.asdfgh{
	width:45px;
	height: 130px;
	position: absolute;
	left: 1250px;
	top: 450px;
	position: fixed;
	background:url(../images/kf.gif) no-repeat;
}