body,ul,ol,dl,h1,h2,h3,h4,h5,h6,p,input{
	margin: 0px;padding: 0px;list-style: none;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
body{
	font-family: 微软雅黑;font-size: 12px;color: #333;
}
.head{
	width: 100%;height: 24px;background: #f6f6f6;border-bottom: 1px solid #ececec;
}
.head .kuai1{
	width: 1200px;height: 24px;margin: 0 auto;
}
.head .shang1 {
	height: 24px; float: left;border-right: 1px solid #e0e3ea;
}
.head .shang1 a{
height: 24px; margin:0 auto;/*float: left;*/line-height: 24px;/*text-align: center;*/padding: 8px;
}
.head .kuai{
	width: 398px;height: 24px;float: right;
}
.getter1{
	width:49px;
	height:24px;
	position: relative;
	float: left;
	padding-left:10px;
}
.getlo1{
	width:80px;
	height:24px;
	position: relative;
	float: left;
	padding-left:10px;
	margin-left:3px;
}
.head .kuai2{
	width: 36px;height: 14px; background: url(../img/1.png) no-repeat;
 margin:0 auto;float: left;line-height: 14px;text-align: center;border-right: 1px solid #e0e3ea;margin-top: 6px;padding-left: 14px;
}
.getter{
	width:160px;
	height:100px;
	position: absolute;
	left:0;
	top:25px;
	padding:10px;
	box-shadow: 0 6px 5px 1px #ccc;
	background: #fff;
	z-index: 99999999;
	display: none;

}
.getter2{
	width:140px;
	height:35px;
	border:1px solid #e4e4e4;
	color: #25b2fe;line-height: 35px;
	text-align: center;
	margin:10px auto;

}
.getlo{
	width:140px;
	height:130px;
	position: absolute;
	left:0;
	top:25px;
	padding:10px;
	box-shadow: 0 6px 12px 0 rgba(153, 153, 153, 0.4);
	background: #fff;
	z-index: 99999999;
	display: none;

}
.getlo img{
	display: block;
	width:100px;
	height:100px;
	margin:0 auto;
	margin-top: 5px;
}
.getlo2{
	width:100%;
	height:30px;
	color: #333;
	font-size: 14px;
	line-height: 30px;text-align: center;
}
.head .shou{
	width: 68px;height: 24px;background:  url(../img/2.png) no-repeat 0 6px;float: left;line-height: 24px;padding-left:16px;display: block;
}
.head .wei{
	width: 39px;height:24px;background: url(../img/1.gif) no-repeat 1px 6px;float: left;
}
.head .shang {
	height: 14px; margin:0 auto;float: left;border-right: 1px solid #e0e3ea;margin-top: 6px;
}
.head .shang a{
height: 14px; margin:0 auto;float: left;line-height: 14px;/*text-align: center;*/padding: 0 6px;
}
.head a{
	color: #888888;
}
.head .kuai2{
	color: #e40077;
}
.head a:hover{
	color: #25b2fe;
}
.head .getter1:hover .kuai2{
	color: #25b2fe;background: url(../img/4.png) no-repeat;
}
.head .getter1:hover{
	background: #fff;
	height:25px;
}
.head .getter1:hover .getter{
	display: block;
}
.head .getter2:hover{
	border:1px solid #25b2fe;
	color: #fff;line-height: 35px;
	background: #25b2fe;
}
.head .shou:hover{
	background: url(../img/3.png) no-repeat 0 6px;
}
.head .getlo1:hover{
	height:26px;background: #fff;
}
.head .getlo1:hover .getlo{
	display: block;
}
.head #ass{
	border-right: none;
}
/*搜索*/
.sousuo{
	width: 1200px;height: 93px;margin: 0 auto;
}
.sousuo .he{
	width: 230px;height: 42px;background: url(../img/5.png);margin: 25px 0;display: block;float: left;font-size: 14px;
}
.sousuo .xian{
	width: 46px;height: 18px;background: url(../img/2.gif) 30px 7px no-repeat;float: left;margin-left: 18px;display: block;line-height: 18px;margin-top: 38px;color:#333;
}
.sousuo .sou{
	width: 565px;height: 36px;float: right;margin-top: 15px;margin-right: 50px;position: relative;
}
.sousuo .suo{
	width: 480px;height: 36px;padding-left: 10px;border:2px solid #dfdfdf;;box-shadow: 0 0 1px 0px #e4e3e3 inset;
}
.sousuo .xi{
    width: 45px;height: 36px;background:url(../img/6.png) 15px 10px no-repeat #25b2fe;float: right;border-radius: 2px;position: absolute;right: 2px;color: #ffffff;padding-left: 40px;line-height: 36px;font-size: 14px;
}
.sousuo .zifei{
	width: 565px;height: 30px;float: right;margin-top: 2px;margin-right: 50px;
}
.sousuo .zifei a{
    height: 30px;line-height: 30px;padding-right: 25px;float: left;
}
.sousuo .zifei .zifei1{
	color: #e40077;
}
.sousuo .zifei .zifei2{
	color: #666666;
}
.sousuo .zifei a:hover{
	color: #25b2fe;text-decoration: underline;
}
.sousuo .xian{
	color: #333333;
}
.sousuo input:focus{
    box-shadow: 0 0 2px 0px #25b2fe;
}
/*导航*/
.dao{
	width: 1200px;height: 40px;margin:0 auto;font-size: 18px;line-height: 40px;text-align: center;position: relative;
}
.dao .hang1{
	width:159px;height: 38px;background: #e4e4e4;float: left;border-right: 1px solid #ffffff;color: #0085d0;border-top: 2px solid #0085d0;

}

.dao .hang{
	width: 259px;height: 40px;background: #e4e4e4;float: left;border-right: 1px solid #ffffff;color: #666666;
}
.dao .onmous1{
	 width:1200px;
	 height:40px;
	 background: #fff;
	 box-shadow: 0 0 7px 0 #ddd;
	 position: absolute;
	 top:40px;
	left:0;
	z-index: 500;
	display: none;
}
.dao .onmous2{
	width:12px;
	height:12px;
	background: #fff;
	position: absolute;
	top:-6px;
	left:286px;
	transform: rotate(45deg);
}
.dao .onmous3{
	position: absolute;
	top:-6px;
	left:546px;
	transform: rotate(45deg);
}
.dao .onmous4{
	position: absolute;
	top:-6px;
	left:806px;
	transform: rotate(45deg);
}
.dao .onmous5{
	position: absolute;
	top:-6px;
	left:1066px;
	transform: rotate(45deg);
}
.dao .onmous{
	width:14%;
	height:40px;
	float: left;
	font-size: 14px;
}
.dao .hang:hover .hang3{
	color: #0085d0;background: #f0eeee;
}
.dao .hang:hover .onmous1{
	display: block;
}
.dao .onmous:hover{
	color: #0085d0;
}
/*侧边导航*/
.dakuai{
	width: 1200px;height: 350px; margin: 0 auto;margin-top: 5px;
}
.cebian{
	width: 158px;height: 348px;float: left;border:1px solid #b8d9e9;
}
.cebian .shang1{
    width: 138px;height: 33px; margin:0 auto;line-height: 34px;border-bottom: 1px solid #e9e9e9;text-align: center;
}
.cebian .shang{
    width: 138px;height: 62px; margin:0 auto;line-height: 62px;border-bottom: 1px solid #e9e9e9;text-align: center;font-size: 14px;
}
.cebian .shang img{
	display: block;margin-left: 26px;margin-top: 20px;float: left;
}
.cebian .shang a{
	margin-left: -22px;color: #333333;
}
.cebian .shang1 a{
	color: #333333;
}
.cebian a:hover{
	color: #0085d0;
}
.cebian #as{
	border-bottom: 0px;
}
/*bannee*/
.dakuai .banner{
	width: 740px;height: 350px;margin-left: 10px;float: left;position: relative;
	overflow: hidden;
}
.banner .box{
	width: 30px;height: 70px;background: url(../img/39.png);position: absolute;top: 50%;left: 0px;margin-top: -35px;cursor: pointer;z-index: 9999999;
}
.banner .box1{
	width: 30px;height: 70px;background: url(../img/39.png) -40px;position: absolute;top: 50%;right: 0px;margin-top: -35px;cursor: pointer;z-index: 9999999;
}
.banner .down10{
	display: block;
	width:740px;
	height:350px;
	position: absolute;
	left: 0;
	top:0;
}
.banner .dondow{
	display: block;
	width:740px;
	height:350px;
}
.banner .down10:first-child{
	z-index: 1;
}
.banner .box:hover{
    background: url(../img/38.png);
}
.banner .box1:hover{
    background: url(../img/38.png) -40px;
}
.banner .box2{
	height: 15px;width: 141px;position: absolute;bottom: 7px;left: 50%;margin-left: -78px;z-index: 9999999;
}
.banner .box3{
	height: 15px;width: 15px;background: #c9b8af;float:left; margin: auto 2px;border-radius: 50%;cursor: pointer;
}
.banner #box4{
    background: #e81e73;cursor: pointer;
}
.youbanner{
	width: 276px;height: 348px;float: left;margin-left: 12px;border:1px solid #dfdfdf;
}
.youbanner .box1{
	width: 91px;height: 78px;float: left;margin-left: 1px;
}
.youbanner .box2{
	width: 84px;height: 78px;float: left;margin: 0 auto;display: block;text-align: center;color: #4e4e4e;
}
.youbanner img{
	margin-left:24px;margin-top: 16px;display: block;margin-bottom: 10px;
}
.youbanner #ass{
	margin-bottom: 15px;
}
.youbanner img:hover{
	transform: scale(1.1,1.1);
}
.youbanner .chong{
	width: 236px;height: 40px;float: left;margin: 0 auto;margin-top: 22px;margin-left:21px; line-height: 40px;color: #ff0000;
}
.youbanner .chong1{
	width: 236px;height: 36px;float: left;margin: 0 auto; margin-left:21px; 
}
.youbanner .chong2{
	width: 236px;height: 36px;float: left;margin: 0 auto;margin-top: 10px;margin-left:21px; 
}
.youbanner .chong3{
	width: 90px;height: 35px;background: #33acfb;float: left;margin-top: 10px;line-height: 34px;text-align: center;border-radius: 3px;margin-left: 90px;color: #fff;
}
.youbanner .chong a{
    margin-left: 4px;color: #333333;margin-right: 142px;
}
.youbanner .chong1 input[type="tel"]{
	width: 230px;height: 34px;padding-left: 4px;border:1px solid #dadada;
}
.youbanner .chong2 a{
	width: 42px;height: 34px;border:1px solid #dadada;display: block;float: left;margin-right: 4px;line-height: 34px;text-align: center;color: #666666;border-radius: 4px;
}
.youbanner .chong2 a:last-child{
    margin: 0 0;background: #e40077;color: #fff;
}
.youbanner .chong2 a:hover{
	background: #e40077;color: #fff;
}
/*内容一*/
.content1{
	width: 1200px;height: 180px;margin: 0 auto;position: relative;
	margin-top: 10px;margin-bottom: 10px;
}
.down2{
	width: 1170px;height: 160px;border: 10px solid #dfdfdf;margin: 0 auto;margin-top: 10px;border-left: 15px solid #dfdfdf;border-right: 15px solid #dfdfdf;overflow: hidden;
}
.down{
	width:3845px;
	height:160px;
	transition:all 0.5s;
	margin-left: -295px;
}
.content1 a{
	width:285px;height: 160px;border-right: 10px solid #dfdfdf;float: left;position: relative;
}
.content1 a:last-child{
	/*border-right:none;*/
}
.content1 img{
	display: block;margin-top: 50px;margin-left: 50px;
}
.content1 .zi{
	font-size: 20px;font-weight: bold;position: absolute;left: 20px;top: 6px;color: #33333f;
}
.content1 .zi1{
	font-size: 14px;position: absolute;left: 20px;top: 34px;color: #666666;
}
.jianleft{
	width: 28px;height: 35px;position: absolute;
	left: 0;top: 70px;background: url(../img/44.gif) no-repeat;z-index: 10;background-origin: border-box;
}
.jianright{
	width: 28px;height: 35px;position: absolute;
	right: 0;top: 70px;background: url(../img/44.gif) no-repeat -32px 0;z-index: 10;background-origin: border-box;
}
/*内容2 4*/
.content2{
	width: 1198px;height: 425px;margin:0 auto;margin-top: 10px;border:1px solid #dfdfdf;
}
.content2 .box1{
	width: 1198px;height: 47px;border-bottom: 1px solid #dfdfdf;float: left;color: #0085d0;font-size: 16px;line-height: 47px;
}
.content2 .box1 .aw{
	float: left;margin-left: 20px;font-weight: bold;
}
.content2 .box1 a{
	display: block;float: left; font-size:14px;margin-left: 1030px;
	color: #666;
}
.content2 .box1 a:hover{
	text-decoration: underline;color: #0085d0;
}
.content2 .asd{
	font-size: 20px;position: absolute;left: 20px;top: 6px;color: #33333f;float: left;
}
.content2 .asx{
	font-size: 14px;position: absolute;left: 20px;top: 34px;color: #666666;
}
.content2 .asdx{
	font-size: 20px;position: absolute;left: 20px;top: 6px;color: #e40077;float: left;
}
.content2 .asxx{
	font-size: 14px;position: absolute;left: 20px;top: 34px;color: #666666;
}
.content2 .box{
	width: 298px;height: 377px;border-right: 1px solid #dfdfdf;float: left;
}
.content2 .box2{
	width: 298px;height: 188px;border-right: 1px solid #dfdfdf;float: left;border-bottom: 1px solid #dfdfdf;position: relative;
}
.content2 a:nth-child(5){
   border-right: none;width: 301px;
}
.content2 #asa{
	background: #efefef;
}
.content2 a:nth-child(7){
   border-bottom: none;
}
.content2 #ass{
   border-right: none;width: 301px;background: #efefef;
}
.content2 #ast{
   border-right: none;width: 301px;
}
.content2 .box3{
   display: block;margin-left: 78px;margin-top: 58px;transition:all 0.5s;
}
.content2 #az{
	margin-left: 80px; display: block;
}
.content2 .box3:hover{
	transform:translate(-8px);
}
/*内容3*/
.content3{
	width: 1198px;height: 428px;margin: 0 auto;margin-top: 10px;border:1px solid #dfdfdf;
}
.content3 .box1{
	width: 1198px;height: 47px;border-bottom: 1px solid #dfdfdf;float: left;color: #0085d0;font-size: 16px;line-height: 47px;
}
.content3 .box1 .aw{
	float: left;margin-left: 20px;font-weight: bold;
}
.content3 .box1 a{
	display: block;float: left; font-size:14px;margin-left: 1030px;
	color: #666;
}
.content3 .box1 a:hover{
	text-decoration: underline;color: #0085d0;
}
.content3 .box2{
    width: 298px;height: 380px;float: left;border-right: 1px solid #dfdfdf;display: block;position: relative;
}
.content3 .ml{
	position: absolute;left: 20px;top: 20px;font-size: 14px;color: #666666;
}
.content3 .mk{
	position: absolute;left: 20px;top:40px;font-size: 14px;color: #0085d0;
}
.content3 .mj{
	position: absolute;left: 20px;top: 65px;font-size: 20px;color: #e40077;
}
.content3 #asd{
	display: block;width: 300px;border-right:none;
}
.content3 .box2 img{
	display: block;margin-left: 78px;margin-top:115px;transition:all 0.5s;
}
.content3 #ass{
	display: block;margin-left: 81px;margin-top:115px;
}
.content3 img:hover{
	transform:translate(-8px);
}
/*公告*/
.gong{
	width: 1198px;height: 36px;margin: 0 auto;border:1px solid #dfdfdf;margin-top: 10px;font-size: 16px;line-height: 36px;color: #666666;
}
.gong img{
	display: block;margin-top:10px;margin-left: 15px;margin-right: 10px;float: left;
}
.gong a{
	width:350px;height:36px;
	 float: left;margin-left: 4px;display: block;color: #0085d4;
	floaat:left;overflow: hidden;

}
.gong .zi{
	float: left;display: block;
	color: #999;width: 90px;
}
.gong .zi1{
	float: left;display: block;
	color: #999;
}
.gong #ax{
	display: block;float: left;color: #0085d4;
}
.gong .ass{
	float: left;margin-left: 30px;
}
.gong .asd{
    float: left;margin-left: 110px;color: #3580ba;cursor: pointer;
}
.gong .asdleft{
	width:25px;height:36px;
	line-height: 36px;text-align: center;
	font-size: 16px;
	color: #0085d4;
	float: left;cursor: pointer;
}
.gong .asdright{
	width:25px;height:36px;
	line-height: 36px;text-align: center;
	font-size: 16px;
	color: #0085d4;
	float: left;cursor: pointer;
}
.gong a:hover{
    text-decoration: underline;
}

/*.gong a{
	display: block;float: left; font-size:14px;margin-left: 1030px;
	color: #666;
}
.gong a:hover{
	text-decoration: underline;color: #0085d0;
}*/
/*站底*/
.zhan{
	width: 1198px;height: 229px;margin: 0 auto;margin-top:10px;border:1px solid #dfdfdf;
}
.di{
	width: 1162px;height: 189px;margin-left: 36px;margin-top: 20px;
}
.zhan .box1{
	width: 232px;height: 27px;float: left;font-size: 16px;font-weight: bold;color: #666666;
}
.zhan .box{
	width: 232px;height: 27px;float: left;font-size: 14px;color: #666666;
}
.zhan a:hover{
    text-decoration: underline;color: #00a2e2;
}
/*最下面*/
.zui{
	width: 1200px;height: 228px;margin: 0 auto
}
.zui .xin{
	width: 610px;height: 16px;margin: 0 auto; margin-top: 24px;
}
.zui .box{
	height: 16px;border-right: 1px solid #666666;float: left;padding: 0 5px;line-height: 16px;
}
.zui .box a{
	float: left;color: #666666;
}
.zui .shang{
    width: 572px;height: 16px;margin: 0 auto; margin-top: 16px;color: #333333;
}
.zui .shang a{
	color: #666666;
}
.zui .ass{
    width: 245px;height: 16px;margin: 0 auto; margin-top: 16px;color: #333333;
}
.zui .az{
    width: 438px;height: 16px;margin: 0 auto; margin-top: 16px;color: #333333;
}
.zui .tu{
	width: 300px;height: 47px;margin:0 auto;margin-top: 20px;
}
.zui  .tu a{
   display: block; float: left;
}
.zui .ax{
	display: block; margin-left: 15px; margin-top: 10px;float: left;
}
.zui .add{
	height: 47px;line-height: 47px;float: left;margin-left: 10px;
}
.zui .add a{
	color: #333333; 
}
.zui a:hover{
    text-decoration: underline;color: #00a2e2;
}
/*固定栏*/
.tap-ico1{
 	width:40px;height:118px;
 	position:fixed;
 	right:0px;
 	bottom:180px;
 }
 .ico-one{	
 	display:block;
 	width:40px;height:118px;
 	background:url(../img/28.png);z-index: 12;
 }
 .ico-two-box{
 	width:124px;height:117px;
 	position:fixed;
 	right:-84px;
 	bottom:42px;
 }
 .ico-two{
	width:124px;height:117px;
	position:fixed;
 	right:-84px;
 	bottom:42px;
 	background:url(../img/29.gif);z-index: 13;
 	
 }
.zxzx{
	margin-top:8px;
	margin-right:-30px;
	position:relative;
	transition:all 0.5s ease-in;
}	
.zxzx:hover{
	transform:translateX(-65px);z-index: 10;
}